.brand-container {
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 150px;
  border: 10px solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
.brand-container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
}
.brand-item {
  margin-bottom: 15px;
}
.brand-image {
  max-width: 100%;
  height: auto;
}

/* Footer */
.footer {
  color: #fff;
  font-family: Arial, sans-serif;
  width: 100%;
  position: relative;
}
.footer h5 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #c4baba;
}

.footer-1 p,
.footer-2 p,
.footer a {
  font-size: 14px;
  margin-bottom: 10px;
  color: #9e9797;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .newsletter input {
  width: 70%;
  padding: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  background-color: #837e7e;
}

.footer .newsletter button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.footer .social-icons a {
  margin-right: 15px;
  font-size: 20px;
  color: #9e9797;
}

.footer .social-icons a:hover {
  color: #007bff;
}
.footer-1 {
  background-color: #242323;
  color: #fff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  padding-top: 3%;
  padding-bottom: 4%;
}

.footer-2 {
  background-color: black;
  padding: 5px 0;
  padding-top: 20px;
  width: 100%;
  position: relative;
}

/* Phong cách cho container */
.newsletter {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden; /* Đảm bảo viền liền mạch */
  background-color: #413f3f;
}

/* Phong cách cho input */
.newsletter-input {
  flex: 1; /* Input sẽ chiếm hết khoảng trống */
  padding: 10px 15px;
  border: none; /* Loại bỏ viền gốc */
  font-size: 16px;
  color: #413f3f;
  background-color: #413f3f;
}

.newsletter-input::placeholder {
  color: #dbcfcf;
  font-style: italic;
}

/* Phong cách cho nút */
.newsletter-btn {
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-img {
  filter: brightness(0) invert(1);
}
